@import url("open-iconic/font/css/open-iconic-bootstrap.min.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-1: rgb(240, 18, 35);
}

.mt-16 {
    margin-top: 16px;
}

/* */
#header {
    top: 0;
    position: fixed;
    height: 64px;
    background-color: var(--color-1);
    width: 100%;
    z-index: 1;
}

.header__logo {
    margin-top: 18px;
    cursor: pointer;
}
/*  */
.header__searchbar {
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 65%;
    width: 100%;
    margin: 14px 0 0 0;
    border-radius: 12px;
}

.header__searchbar img {
    margin: 0 12px;
    height: 16px;
    width: 16px;
    cursor: pointer;
    opacity: 0.6;
}

.header__searchbar input {
    width: 90%;
    height: 90%;
    outline: transparent none;
    border: none;
    font-size: 16px;
}
.header__phone {
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    cursor: pointer;
    padding-top: 6px;
}
.header__section:hover,
.header__phone:hover {
    background-color: #db4052;
    opacity: 0.9;
}

.header__phone--icon {
    margin-right: 4px;
}

.header__phone--sub {
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 1.4;
    font-size: 13px;
}
.header__phone--sub a {
    color: white;
    text-decoration: none;
}

.header__phone--number {
    font-weight: 550;
    letter-spacing: 1.5px;
}

.header__section {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    cursor: pointer;
    font-weight: 500;
}
.header__section img {
    padding-top: 4px;
}

.header__section a {
    color: white;
    text-decoration: none;
    font-size: 12px;
}
/*  */
#content {
    width: 100%;
    height: 1900px;
    padding-top: 64px;
}

.sideNav {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 8px;
    background-color: #f6fbfc;
    box-shadow: 1px 1px 4px #ccc;
}

.sideNav__item {
    display: flex;
    width: 100%;
    padding: 8px;
    margin-bottom: 6px;
    align-items: center;
    justify-content: flex-start;
    border-radius: 12px;
}
.sideNav__item:hover {
    border: 2px groove var(--color-1);
    background-color: #ffeeee;
}
.sideNav__item:hover a {
    color: var(--color-1);
}

.sideNav__item a {
    font-size: 12px;
    text-decoration: none;
    color: #333;
    opacity: 0.8;
    margin-left: 4px;
}
/*  */
.member {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 4px #ccc;
    border-radius: 12px;
    margin-bottom: 12px;
}

.member__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.member__info--img {
    height: 50%;
    text-align: center;
}
.member__info--img p {
    margin-top: 4px;
    opacity: 0.8;
}
.member__info--img img {
    height: 80%;
    border-radius: 50px;
    box-shadow: 1px 1px 1px rgb(247, 247, 247);
}

.member__info--name {
    justify-self: flex-start;
    text-transform: uppercase;
    color: var(--color-1);
    font-size: 28px;
    font-weight: 600;
    margin-top: 28px;
}

.member__section {
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.member__section--item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member__section--item p {
    font-size: 18px;
    padding: 8px 0;
}

.member__section--item p:last-child {
    font-weight: 600;
}

.contentSection {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contentSection__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: inherit;
    width: 32%;
    padding: 8px;
    border-radius: 12px;
}
.contentSection__item--img {
    height: 32%;
    width: 32%;
    border-radius: 50px;
    margin-top: 16px;
}

.contentSection__item img {
    width: 60%;
    margin: 12% 20%;
}

.contentSection__item--text {
    margin-top: 16px;
    font-size: 20px;
    text-align: center;
}
.contentSection__item--text p:first-child {
    font-weight: 550;
    color: var(--color-1);
}

.contentSection__item--text p:last-child {
    opacity: 0.6;
    margin-top: 12px;
    font-size: 18px;
}

.contentSection__item--btn {
    width: 44%;
    margin-top: 40px;
    background-color: #fff;
    text-align: center;
    padding: 12px 16px;
    border-radius: 20px;
    box-shadow: 2px 4px 6px #ccc;
    color: var(--color-1);
    font-size: 18px;
}
.contentSection__item--btn p {
    margin: 0 !important;
}

.contentSection__item--btn:hover {
    box-shadow: 4px 8px 8px #ccc;
    cursor: pointer;
    opacity: 0.6;
}
/*shipment_manage*/
.history {
    background-image: url("../assets/imgs/Rectangle(2).ef29e10.png");
    background-size: cover;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 4px #ccc;
    border-radius: 12px;
    margin-bottom: 12px;
    font-size: 1rem;
}

.history__manage_title {
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    color: #ff1c1c;
    margin-bottom: 1rem;
}

.history__search {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}

.history__search button {
    padding: 4px;
    margin-left: 8px;
    border: none;
    cursor: pointer;
    color: #b11e1e;
}

.history__search button:hover {
    background-color: #db4052;
}

.box__search {
    border-radius: 25px;
    background-color: #fff;
}
.search__img {
    margin: 0 12px;
    height: 16px;
    width: 16px;
    cursor: pointer;
    opacity: 0.6;
}

.box__search input {
    outline: none;
    border: none;
    padding-top: 6px;
}

.history__order_header {
    display: flex;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    border: 1px solid #7e7e7e;
    background-color: #fff;
    justify-content: space-around;
    text-align: center;
    color: #212529;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

/*Update infor*/
.member__update {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.member__update button {
    font-size: 20px;
    color: #ff1c1c;
    background-color: #fff;
    padding: 4px;
    border-radius: 25px;
    border: 1px solid #ff1c1c;
    margin-bottom: 1.5rem;
}
.member__update button:hover {
    color: #fff;
    background-color: #ff1c1c;
}

/*Response*/
.response {
    text-align: center;
    border-radius: 25px;
    /* border: 1px solid #7e7e7e; */
    box-shadow: 1px 1px 2px #ccc;
    background-color: #f6fbfc;
}

.title {
    margin: 20px 0 20px 0;
}
.title p:first-child {
    font-weight: 650;
    font-size: 28px;
}
.form {
    margin-bottom: 20px;
}

/* support */
.support {
    text-align: center;
    padding-top: 30px;
    border-radius: 25px;
    /* border: 1px solid #7e7e7e; */
    margin-bottom: 10px;
    background-color: #f6fbfc;
    box-shadow: 1px 1px 2px #ccc;
}

.support-content-box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 1rem;
    color: #666;
}

.support-content {
    box-shadow: rgb(0 0 0 / 25%) 1px 0px 2px 0px;
    width: calc(50% - 1.5rem);
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 1.5rem;
    padding: 1rem;
}

.support-content:hover {
    box-shadow: 1px 1px 8px 2px rgb(0 0 0 / 25%);
    cursor: pointer;
}

.support-content-icon img {
    margin: 0 12px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    opacity: 0.6;
}

.support-content-text a {
    text-decoration: none;
    color: #e11b1e;
    background-color: transparent;
    font-weight: 700;
}

.support-content-text {
    margin: 0;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.support-content-text p:first-child {
    font-size: 20px;
    padding-bottom: 8px;
}

/*Main page*/

/*Left main menu*/
.left_menu {
    height: 100%;
    width: 200px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 1px 1px 4px #ccc;
    /*overflow-x: hidden;*/
}

    .left_menu a, p {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 16px;
        color: #818181;
        display: block;
        border: none;
        background: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
        outline: none;
        width: 100%;
        padding: 8px;
        margin-bottom: 6px;
        font-weight: 600;
    }

.left_menu a:hover,
p:hover {
    color: #f1f1f1;
}

.dropdown_container {
    position: absolute;
    display: none;
    width: 100%;
    left: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 1px 1px 4px #ccc;
    z-index: 1;
    top: 0px;
}

.dropdown_menu {
    position: relative;
}

.dropdown_container p{
    margin-bottom: 0 !important;
}

    
    margin-bottom: 0 !important;
        display: initial;
    }
    
    margin-bottom: 0 !important;
}

    
.dropdown_menu:hover .dropdown_container {
    display: initial;
}

/*Mid adver*/
.Advertisement {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 1px 1px 4px #ccc;
}

/*right adver*/
.right-banner {
    width: 100%;
    max-width: 265px;
    height: 376px;
        .right-banner .right-banner__item img {
            float: left;
            height: auto;
            width: 100%;
        }
        min-height: calc(33.33333% - 20px);
        margin-bottom: 15.5px;
        overflow: hidden;
        width: 100%;
        display: block;
        border-radius: 10px;
        box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    }

.w3-left, .w3-right, .w3-badge {
    cursor: pointer;
}


/*Smartphone upsale*/
.product {
    margin-top: 20px;
}

.product_title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.product_title .box-title_title {
    flex: 1;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #444444;
}

a.box-title_title {
    text-decoration: none;
}

.box-related-tag .list-related-tag {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 10px 0 0 0;
}

.box-related-tag .list-related-tag a {
    text-decoration: none;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    background: #f3f4f6;
    color: #444444;
    text-align: center;
    padding: 5px 10px;
    margin-left: 10px;
.item-product_image img {
    height: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product_info {
    margin-top: 20px;
}

.product_info-container {
    width: auto;
    padding: 10px;
    margin-right: 10px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.item-product_name a, p {
    text-decoration: none;
}


/* support */
.support {
    text-align: center;
    padding-top: 30px;
    border-radius: 25px;
    /* border: 1px solid #7e7e7e; */
    margin-bottom: 10px;
    background-color: #f6fbfc;
    box-shadow: 1px 1px 2px #ccc;
}

.support-content-box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 1rem;
    color: #666;
}

.support-content {
    box-shadow: rgb(0 0 0 / 25%) 1px 0px 2px 0px;
    width: calc(50% - 1.5rem);
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 1.5rem;
    padding: 1rem;
}

    .support-content:hover {
        box-shadow: 1px 1px 8px 2px rgb(0 0 0 / 25%);
        cursor: pointer;
    }

.support-content-icon img {
    margin: 0 12px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    opacity: 0.6;
}

.support-content-text a {
    text-decoration: none;
    color: #e11b1e;
    background-color: transparent;
    font-weight: 700;
}

.support-content-text {
    margin: 0;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

    .support-content-text p:first-child {
        font-size: 20px;
        padding-bottom: 8px;
    }


/**/
.slider-container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.slider__imgs {
    display: flex;
    overflow: hidden;
}

    .slider__imgs img {
        width: 100%;
        object-fit: cover;
        /* margin-right: 15px; */
    }

    .slider__imgs input {
        display: none;
    }

.labelslider {
    display: flex;
    justify-content: center;
}

    .labelslider label {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: 3px solid #444444;
        margin: 2px;
    }

        .labelslider label:hover {
            background: #ccc;
        }

#img1:checked ~ .imgslider1 {
    /* margin-left: -100%; */
    transform: translateX(0);
}

#img2:checked ~ .imgslider2 {
    /* margin-left: -200%; */
    transform: translateX(-100%);
}

#img3:checked ~ .imgslider3 {
    /* margin-left: -300%; */
    transform: translateX(-200%);
}

/*footer*/
/* .footer{
    position: fixed;
    bottom: 0;
    width: 100%;
} */
.footer-container {
    display: flex;
    flex-wrap: wrap;
}

.box-info li {
    list-style-type: none;
}    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

    .support-content-text p:first-child {
        font-size: 20px;
        padding-bottom: 8px;
    }