@page "/"
@namespace DoAn1.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DoAn1</title>
    <base href="~/" />
    @*<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />*@
    <link rel="stylesheet" href="./css/librarylayout.css" />
    <link href="./css/site.css" rel="stylesheet" />
    <link rel=" stylesheet" href="./css/responsive.css" />
    <link rel="stylesheet" href="./css/products.css" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    
    <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function currentDiv(n) {
            showDivs(slideIndex = n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" w3-white", "");
            }
            x[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " w3-white";
        }
    </script>
    <script>
        const $ = document.querySelector.bind(document);
        const $$ = document.querySelectorAll.bind(document);

        const selectBox1 = $$(".section2_selectBox1");
        const selectBox2 = $$(".section2_selectBox2");

        console.log(selectBox1);
        console.log(selectBox2);

        selectBox1.forEach((box, index) => {
            box.onclick = function () {
        $(".section2_selectBox1.active").classList.remove("active");
        this.classList.add("active");
        };
        };

        selectBox2.forEach((box, index) => {
        box.onclick = function () {
        $(".section2_selectBox2.active").classList.remove("active");
        this.classList.add("active");
         };
        };
    </script>
</body>
</html>


