@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<AuthorizeView>
	<table class="table">
		<thead>
		<tr>
			<th>
				Claim
			</th>
			<th>
				Value
			</th>
		</tr>
		</thead>
		<tbody>
		@foreach (var claim in @context.User.Claims)
		{
			<tr>
				<td>@claim.Type</td>
				<td>@claim.Value</td>
			</tr>
		}
		</tbody>
	</table>
</AuthorizeView>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount--;
    }

	private AuthenticationStateProvider _auth;

	private AuthenticationStateProvider _authentication(AuthenticationStateProvider auth)
	{
		return _auth = auth;
	}
       

	public async Task GetClaims()
	{
            
		var authState = await _auth.GetAuthenticationStateAsync();
		var userClaims = authState.User.Claims;
		
	}
}
