@page "/Account/Main"
@using DoAn1.Data
@using Microsoft.AspNetCore.Http
@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Components.Authorization
@using DoAn1.Shared
@inject DoAn1.Service.CustomerService CustomerIService
@layout MainLayout1
@inject AuthenticationStateProvider AuthenticationStateProvider




		<div class="col c-10 mt-16">
			<div class="member">
				<div class="member__info">
					<div class="member__info--img">
						<img src="./assets/imgs/svg/1200px-User_icon-cp.png" alt="">
						<p>Xin chào</p>
					</div>
					<div class="member__info--name">
						<p>@_customer.Name</p>
					</div>
				</div>
				<div class="member__section">
					<div class="member__section--item">
						<p>Ngày tham gia</p>
						<img src="./assets/imgs/svg/calendar.svg" alt="">
						<p>@_customer.JoinedDay</p>
					</div>
					<div class="member__section--item">
						<p>Hạng thành viên</p>
						<img src="./assets/imgs/svg/award_48px.svg" alt="">
						<p>Chưa có hạng</p>
					</div>
					<div class="member__section--item">
						<p>Coin tích lũy</p>
						<img src="./assets/imgs/svg/credit-card.svg" alt="">
						<p>0đ</p>
					</div>
				</div>
			</div>
			<div class="contentSection">
				<div class="contentSection__item" style="background-color: #fef5f0;">
					<div class="contentSection__item--img" style="background-color: #f0e89d;">
						<img src="./assets/imgs/svg/gift-box.png" alt="">
					</div>
					<div class="contentSection__item--text">
						<p>Ưu đãi của bạn</p>
						<p>0 ưu đãi</p>
					</div>
					<div class="contentSection__item--btn">
						<p>Xem chi tiết</p>
					</div>
				</div>
				<div class="contentSection__item" style="background-color: #edf1fd;">
					<div class="contentSection__item--img" style="background-color: #0e88cc;">
						<img src="./assets/imgs/svg/box.png" alt="">
					</div>
					<div class="contentSection__item--text">
						<p>Đơn hàng của bạn</p>
						<p>0 đơn hàng</p>
					</div>
					<div class="contentSection__item--btn">
						<a href="/Account/Order">Xem chi tiết</a>
					</div>
				</div>
				<div class="contentSection__item" style="background-color: #f1f8fe;">
					<div class="contentSection__item--img" style="background-color: #89c1f5;">
						<img src="./assets/imgs/svg/Crown.png" alt="">
					</div>
					<div class="contentSection__item--text">
						<p>hạng thành viên</p>
						<p>Chưa có hạng</p>
					</div>
					<div class="contentSection__item--btn">
						<p>Xem chi tiết</p>
					</div>
				</div>
			</div>
		</div>



    @code {
    Customer _customer = new Customer();

	[Parameter]
	public string Customerid { get; set; }
	


	protected override Task OnInitializedAsync()
    {
	    GetCustomer();
	    return Task.CompletedTask;
    }


    private void GetCustomer()
    {
        _ = GetClaims();
	    _customer = CustomerIService.GetCustomerInfo(Customerid);
    }

	public async Task GetClaims()
	{
		var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
	    var userClaims = authState.User.Claims;
	    foreach (var claim in userClaims)
	    {
	        if (claim.Type == ClaimTypes.NameIdentifier)
	        {
		        Customerid= claim.Value;
	        }
	    }
	}

}
