@page "/Account/Edit"
@using DoAn1.Data
@using Microsoft.AspNetCore.Http
@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Components.Authorization
@using DoAn1.Shared
@inject DoAn1.Service.CustomerService CustomerIService
@layout MainLayout1
@inject AuthenticationStateProvider AuthenticationStateProvider    
    
    <div class="col c-10 mt-16">
        <div class="member">
            <div class="member__info">
                <div class="member__info--img">
                    <img src="./assets/imgs/svg/1200px-User_icon-cp.png" alt="">
                    <p>Xin chào</p>
                </div>
                <div class="member__info--name">
                    <p>@customer.Name</p>
                </div>
            </div>
            <div class="member__section">
                <div class="member__section--item">
                    <p>Sinh nhật</p>
                    <img src="./assets/imgs/svg/cake.png" alt="">
                    <p>@customer.Birthday</p>
                </div>
                <div class="member__section--item">
                    <p>Số điện thoại</p>
                    <img src="./assets/imgs/svg/smartphone.png" alt="">
                    <p>@customer.PhoneNumber</p>
                </div>
                <div class="member__section--item">
                    <p>Hạng thành viên</p>
                    <img src="./assets/imgs/svg/award_48px.svg" alt="">
                    <p>Chưa có hạng</p>
                </div>
                <div class="member__section--item">
                    <p>Ngày tham gia</p>
                    <img src="./assets/imgs/svg/calendar.svg" alt="">
                    <p>@customer.JoinedDay</p>
                </div>                            
                <div class="member__section--item">
                    <p>Coin tích lũy</p>
                    <img src="./assets/imgs/svg/credit-card.svg" alt="">
                    <p>0đ</p>
                </div>
            </div>
            <div class="member__update">
                <button type="button">Cập nhật thông tin</button>
            </div>
        </div>
    </div>   
            

@code {
    [Parameter]
    public string Customerid { get; set; }

    public Customer customer = new();

    protected override async Task OnInitializedAsync()
    {
        await GetClaims();
        customer = CustomerIService.GetCustomerInfo(Customerid);
        
    }

    public async Task GetClaims()
	{
		var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
	    var userClaims = authState.User.Claims;
	    foreach (var claim in userClaims)
	    {
	        if (claim.Type == ClaimTypes.NameIdentifier)
	        {
		        Customerid= claim.Value;
	        }
	    }
	}
}
