@page "/Account/Address"
@using DoAn1.Data
@using System.Security.Claims
@inject DoAn1.Service.CustomerService CustomerIService
@layout MainLayout1
@inject AuthenticationStateProvider AuthenticationStateProvider
@using DoAn1.Pages



<h3>CustomerAddress</h3>


    @foreach(string address in Cus_Address.address)
{
    <p>@address</p>
    
}





@code {
    Customer Cus_Address = new Customer();



    [Parameter]
    public string Customerid { get; set; }


    protected override async Task OnInitializedAsync()
    {
        GetCustomerAddress();
    }



    private void GetCustomerAddress()
    {
        
        _ = GetClaims();
        Cus_Address = CustomerIService.GetCustomerAddress(Customerid);
    }

    public async Task GetClaims()
	{
		var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
	    var userClaims = authState.User.Claims;
	    foreach (var claim in userClaims)
	    {
	        if (claim.Type == ClaimTypes.NameIdentifier)
	        {
		        Customerid= claim.Value;
	        }
	    }
	}

}
