@page "/Trangchu"
@using DoAn1.Data
@inject DoAn1.Service.ProductService ProductIService
@layout MainLayout0


 @foreach(var device in smartphone)
{
    <div>
		<p>@device.device_name</p>
		</div> 
	<div class="image">
		<img scr="@device.device_image">
		</div>
		<p>@device.display_size</p>
}

<style>
	.image img{
		height: 160px;
	}
</style>

@code {
	List<Smartphone> smartphone = new List<Smartphone>();

	protected override async Task OnInitializedAsync()
    {
        GetSmartphone();
    }

	private void GetSmartphone()
	{
		smartphone = ProductIService.GetSmartphones();
	}
}
