@page "/"
@using DoAn1.Data
@using System.Security.Claims
@using DoAn1.Service
@inject DoAn1.Service.ProductService ProductIService
@inject CustomerService CustomerIService
@layout MainLayout0
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider




<div id="content">
    <div class="grid wide">
        <div class="row">

           <!--Left main menu-->
                <div class="col c-2 mt-16">   
                    <div class="left_menu">
                        <div class="dropdown_menu">
                            <a class="#">Điện thoại
                            <div class="dropdown_container">
                                <a href="/phone/Apple">Apple</a>
                                <a href="/phone/Samsung">Samsung</a>
                                <a href="#">Xiaomi</a>
                                <a href="#">Oppo</a>
                            </div>
                            </a>

                        </div>

                        <div class="dropdown_menu">
                            <p>Máy tính bảng</p>
                            <div class="dropdown_container">
                                <a href="#">Apple</a>
                                <a href="#">Samsung</a>
                                <a href="#">Xiaomi</a>
                            
                            </div>

                        </div>
                        
                        <a href="#">Laptop</a>
                        <a href="#">Đồng hồ</a>
                        <a href="#">Phụ kiện</a>

    
                    </div>
                </div>

                <!--Advertisement-->
                             
                
               <div class="col c-7 mt-16">
                  <div style="width: 690px; overflow: hidden">
                      <BSCarousel>
                        <BSCarouselItem >
                            <img src="./assets/imgs/s22.png" class="mid-add"/>
                         </BSCarouselItem>
                        <BSCarouselItem>
                            <img src="./assets/imgs/Xiaomi LP.png" class="mid-add"/>
                        </BSCarouselItem>
                        <BSCarouselItem>
                            <img src="./assets/imgs/ipad mini 6.png" class="mid-add"/>
                        </BSCarouselItem>
                    </BSCarousel>
                     
                    </div>
                </div>
            
                <!--Ad2-->
                <div class="col c-3 mt-16">
                    <div class="right-banner">
                        <a href="#" class="right-banner__item">
                        <img src="./assets/imgs/RB_galaxy-A73.jpg" alt="">
                        </a>
                        <a href="#" class="right-banner__item">
                        <img src="./assets/imgs/637910161071589446_H1_800x300.webp" alt="">
                        </a>
                        <a href="#" class="right-banner__item">
                        <img src="./assets/imgs/637904570189565718_F-H1_800x300.webp" alt="">
                        </a>
                    </div>
                </div> 

                <!--Up sale product-->
                <div class="col c-12 mt16">
                    <div class="product"></div>
                        <div class="product_title">
                            <a href="#" class="c-5 box-title_title">
                                <h2>Điện thoại nổi bật nhất</h2>
                            </a>
                            <div class="c-5 box-related-tag">
                                <div class="list-related-tag">
                                    <a href="">Apple</a>
                                    <a href="">Samsung</a>
                                    <a href="">Tất cả</a>
                                </div>
                            </div>

                        </div>

                        <div class="product_list">
                            <div class="list-product">
                                
                                <div id="01" class="product_info-container c-2">
                                    <div class="product_info">
                                    <a href="#" class="product_link">
                                    <div class="item-product_image">
                                        <a href="#">
                                            <img src="https://fdn2.gsmarena.com/vv/pics/apple/apple-iphone-13-pro-max-01.jpg">
                                        </a>
                                    </div>
                                    <div class="item-product_name"></div>
                                        <a href="#">
                                            <p>iPhone 13 Promax</p>
                                        </a>
                                    <div class="item-product_price">
                                        <p>20.290.000</p>
                                    </div>
                                    <div class="item-product_rating">
                                        <!-- <p>Đánh giá</p> -->
                                    </div>
                                    </a>
                                    </div>
                                </div>

                                <div id="01" class="product_info-container c-2">
                                    <div class="product_info">
                                    <a href="#" class="product_link">
                                    <div class="item-product_image">
                                        <a href="#">
                                            <img src="https://fdn2.gsmarena.com/vv/bigpic/samsung-galaxy-z-fold3-5g.jpg">
                                        </a>
                                    </div>
                                    <div class="item-product_name"></div>
                                        <a href="#">
                                            <p>Galaxy Z Fold 3</p>
                                        </a>
                                    <div class="item-product_price">
                                        <p>32.990.000</p>
                                    </div>
                                    <div class="item-product_rating">
                                        <!-- <p>Đánh giá</p> -->
                                    </div>
                                    </a>
                                    </div>
                                </div>

                                <div id="01" class="product_info-container c-2">
                                    <div class="product_info">
                                    <a href="#" class="product_link">
                                    <div class="item-product_image">
                                        <a href="#">
                                            <img src="https://fdn2.gsmarena.com/vv/bigpic/samsung-galaxy-a73-5g.jpg">
                                        </a>
                                    </div>
                                    <div class="item-product_name"></div>
                                        <a href="#">
                                            <p>Galaxy A73</p>
                                        </a>
                                    <div class="item-product_price">
                                        <p>12.990.000</p>
                                    </div>
                                    <div class="item-product_rating">
                                        <!-- <p>Đánh giá</p> -->
                                    </div>
                                    </a>
                                    </div>
                                </div>

                                <div id="01" class="product_info-container c-2">
                                    <div class="product_info">
                                    <a href="#" class="product_link">
                                    <div class="item-product_image">
                                        <a href="#">
                                            <img src="https://fdn2.gsmarena.com/vv/bigpic/samsung-galaxy-s22-ultra-5g.jpg">
                                        </a>
                                    </div>
                                    <div class="item-product_name"></div>
                                        <a href="#">
                                            <p>Galaxy S22 Ultra</p>
                                        </a>
                                    <div class="item-product_price">
                                        <p>30.990.000</p>
                                    </div>
                                    <div class="item-product_rating">
                                        <!-- <p>Đánh giá</p> -->
                                    </div>
                                    </a>
                                    </div>
                                </div>

                                <div id="01" class="product_info-container c-2">
                                    <div class="product_info">
                                    <a href="#" class="product_link">
                                    <div class="item-product_image">
                                        <a href="#">
                                            <img src="https://fdn2.gsmarena.com/vv/bigpic/xiaomi-12.jpg">
                                        </a>
                                    </div>
                                    <div class="item-product_name"></div>
                                        <a href="#">
                                            <p>Xiaomi 12</p>
                                        </a>
                                    <div class="item-product_price">
                                        <p>14.990.000</p>
                                    </div>
                                    <div class="item-product_rating">
                                        <!-- <p>Đánh giá</p> -->
                                    </div>
                                    </a>
                                    </div>
                                </div>
                                          

                            </div>

                        </div>

                </div>

                <div class="col c-12 mt16">
                    <div class="product"></div>
                        <div class="product_title">
                            <a href="#" class="c-5 box-title_title">
                                <h2>Máy tính bảng</h2>
                            </a>
                            <div class="c-5 box-related-tag">
                                <div class="list-related-tag">
                                    <a href="">Apple</a>
                                    <a href="">Samsung</a>
                                    <a href="">Tất cả</a>
                                </div>
                            </div>

                        </div>

                        <div class="product_list">
                            <div class="list-product">
                                
                                <div id="01" class="product_info-container c-2">
                                    <div class="product_info">
                                    <a href="#" class="product_link">
                                    <div class="item-product_image">
                                        <a href="#">
                                            <img src="https://fdn2.gsmarena.com/vv/bigpic/apple-ipad-pro-129-2021.jpg">
                                        </a>
                                    </div>
                                    <div class="item-product_name"></div>
                                        <a href="#">
                                            <p>iPad Pro 12.9</p>
                                        </a>
                                    <div class="item-product_price">
                                        <p>17.790.000</p>
                                    </div>
                                    <div class="item-product_rating">
                                        <!-- <p>Đánh giá</p> -->
                                    </div>
                                    </a>
                                    </div>
                                </div>

                                <div id="01" class="product_info-container c-2">
                                    <div class="product_info">
                                    <a href="#" class="product_link">
                                    <div class="item-product_image">
                                        <a href="#">
                                            <img src="https://fdn2.gsmarena.com/vv/bigpic/apple-ipad-air-2022-new.jpg">
                                        </a>
                                    </div>
                                    <div class="item-product_name"></div>
                                        <a href="#">
                                            <p>iPad Air 2022</p>
                                        </a>
                                    <div class="item-product_price">
                                        <p>16.690.000</p>
                                    </div>
                                    <div class="item-product_rating">
                                        <!-- <p>Đánh giá</p> -->
                                    </div>
                                    </a>
                                    </div>
                                </div>

                                <div id="01" class="product_info-container c-2">
                                    <div class="product_info">
                                    <a href="#" class="product_link">
                                    <div class="item-product_image">
                                        <a href="#">
                                            <img src="https://fdn2.gsmarena.com/vv/bigpic/xiaomi-pad-5.jpg">
                                        </a>
                                    </div>
                                    <div class="item-product_name"></div>
                                        <a href="#">
                                            <p>MiPad 5</p>
                                        </a>
                                    <div class="item-product_price">
                                        <p>8.990.000</p>
                                    </div>
                                    <div class="item-product_rating">
                                        <!-- <p>Đánh giá</p> -->
                                    </div>
                                    </a>
                                    </div>
                                </div>

                                <div id="01" class="product_info-container c-2">
                                    <div class="product_info">
                                    <a href="#" class="product_link">
                                    <div class="item-product_image">
                                        <a href="#">
                                            <img src="https://fdn2.gsmarena.com/vv/bigpic/samsung-galaxy-tab-s8.jpg">
                                        </a>
                                    </div>
                                    <div class="item-product_name"></div>
                                        <a href="#">
                                            <p>Galaxy Tab S8</p>
                                        </a>
                                    <div class="item-product_price">
                                        <p>20.990.000</p>
                                    </div>
                                    <div class="item-product_rating">
                                        <!-- <p>Đánh giá</p> -->
                                    </div>
                                    </a>
                                    </div>
                                </div>

                                <div id="01" class="product_info-container c-2">
                                    <div class="product_info">
                                    <a href="#" class="product_link">
                                    <div class="item-product_image">
                                        <a href="#">
                                            <img src="https://fdn2.gsmarena.com/vv/bigpic/samsung-galaxy-tab-s8-ultra.jpg">
                                        </a>
                                    </div>
                                    <div class="item-product_name"></div>
                                        <a href="#">
                                            <p>Galaxy Tab S8 Ultra</p>
                                        </a>
                                    <div class="item-product_price">
                                        <p>30.990.000</p>
                                    </div>
                                    <div class="item-product_rating">
                                        <!-- <p>Đánh giá</p> -->
                                    </div>
                                    </a>
                                    </div>
                                </div>
                                          

                            </div>

                        </div>

                </div>
                                                    

            </div>

        </div>
 </div>


 <footer class="bg-light text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Liên hệ</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <span href="" class="text-dark">Gọi mua hàng 1800.2097 (8h00 - 22h00)</span>
          </li>
          <li>
            <span href="" class="text-dark">Gọi bảo hành 1800.2064 (8h00 - 22h00)</span>
          </li>
          <li>
            <span href="" class="text-dark">Gọi khiếu nại 1800.2063 (8h00 - 22h00)</span>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Mua hàng</h5>

        <ul class="list-unstyled">
          <li>
            <span href="" class="text-dark">Mua hàng và thanh toán Online</span>
          </li>
          <li>
            <span href="" class="text-dark">Mua hàng trả góp Online</span>
          </li>
          <li>
            <span href="" class="text-dark">Tra thông tin đơn hàng</span>
          </li>
          <li>
            <span href="" class="text-dark">Tra điểm tích</span>
          </li>
          <li>
            <span href="" class="text-dark">Tra thông tin bảo hành</span>
          </li>
          <li>
            <span href="" class="text-dark">Tra cứu hóa đơn điện tử</span>
          </li>
          <li>
            <span href="" class="text-dark">Dịch vụ bảo hành điện thoại</span>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Quy chế</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <span href="" class="text-dark">Quy chế hoạt động</span>
          </li>
          <li>
            <span href="" class="text-dark">Chính sách bảo hành</span>
          </li>
          <li>
            <span href="" class="text-dark">Liên hệ hợp tác kinh doanh</span>
          </li>
          <li>
            <span href="" class="text-dark">Khách hàng doanh nghiệp</span>
          </li>
          <li>
            <span href="" class="text-dark">Ưu đãi thanh toán</span>
          </li>
          <li>
            <span href="" class="text-dark">Tuyển dụng</span>
          </li>

        </ul>
      </div>
      <!--Grid column-->

      
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>

@*</footer>*@






   @code {
       List<Smartphone> smartphone = new List<Smartphone>();
       
       protected override async Task OnInitializedAsync()
       {
           
         GetSmartphone();
    }

    private void GetSmartphone()
    {
        smartphone = ProductIService.GetSmartphones();
    }

       

   }
