/*Left main menu*/
.left_menu {
    height: 100%;
    width: 200px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 1px 1px 4px #ccc;
    /*overflow-x: hidden;*/
}

    .left_menu a, p {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 16px;
        color: #818181;
        display: block;
        border: none;
        background: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
        outline: none;
        width: 100%;
        padding: 8px;
        margin-bottom: 6px;
        font-weight: 600;
    }

        .left_menu a:hover, p:hover {
            color: #f1f1f1;
        }

.dropdown_container {
    position: absolute;
    display: none;
    width: 100%;
    left: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 1px 1px 4px #ccc;
    z-index: 1;
    top: 0px;
}

.dropdown_menu {
    position: relative;
}

.dropdown_container p {
    margin-bottom: 0 !important;
}

.dropdown_menu:hover .dropdown_container {
    display: initial;
}

/*right adver*/
.right-banner {
    width: 100%;
    max-width: 265px;
    height: 376px;
}

    .right-banner .right-banner__item {
        min-height: calc(33.33333% - 20px);
        margin-bottom: 15.5px;
        overflow: hidden;
        width: 100%;
        display: block;
        border-radius: 10px;
        box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    }

        .right-banner .right-banner__item img {
            float: left;
            height: auto;
            width: 100%;
        }

/*Smartphone upsale*/
.product {
    margin-top: 20px;
}

.product_title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

    .product_title .box-title_title {
        flex: 1;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        color: #444444;
    }

a.box-title_title {
    text-decoration: none;
}

.box-related-tag .list-related-tag {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 10px 0 0 0;
}

    .box-related-tag .list-related-tag a {
        text-decoration: none;
        border: 1px solid #e5e7eb;
        border-radius: 8px;
        background: #f3f4f6;
        color: #444444;
        text-align: center;
        padding: 5px 10px;
        margin-left: 10px;
    }

.list-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product_info .product_link .item-product_image {
    align-items: center;
}

.item-product_image img {
    height: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product_info {
    margin-top: 20px;
}

.product_info-container {
    width: auto;
    padding: 10px;
    margin-right: 10px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.item-product_name a, p {
    text-decoration: none;
}
