@page "/"
@using DoAn1.Data
@using System.Security.Claims
@using DoAn1.Service
@inject DoAn1.Service.ProductService ProductIService
@inject CustomerService CustomerIService
@layout MainLayout0
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider




<div id="content">
    <div class="grid wide">
        <div class="row">

           <!--Left main menu-->
                <div class="col c-2 mt-16">   
                    <div class="left_menu">
                        <div class="dropdown_menu">
                            <a class="#">Điện thoại
                            <div class="dropdown_container">
                                <a href="/phone/Apple">Apple</a>
                                <a href="/phone/Samsung">Samsung</a>
                                <a href="#">Xiaomi</a>
                                <a href="#">Oppo</a>
                            </div>
                            </a>

                        </div>

                        <div class="dropdown_menu">
                            <p>Máy tính bảng</p>
                            <div class="dropdown_container">
                                <a href="#">Apple</a>
                                <a href="#">Samsung</a>
                                <a href="#">Xiaomi</a>
                            
                            </div>

                        </div>
                        
                        <a href="#">Laptop</a>
                        <a href="#">Đồng hồ</a>
                        <a href="#">Phụ kiện</a>

    
                    </div>
                </div>

                <!--Advertisement-->
                               
                <div class="col c-7 mt-16">
                    <div class="slider-container">
                        <div class="slider__imgs">
                            <input type="radio" name="inputslider" id="img1">
                            <input type="radio" name="inputslider" id="img2">
                            <input type="radio" name="inputslider" id="img3">
                                                
                            <img src="./assets/imgs/s22.png" alt="img1" class="imgslider1">                                       
                            <img src="./assets/imgs/Xiaomi LP.png" alt="img2" class="imgslider2">                       
                            <img src="./assets/imgs/ipad mini 6.png" alt="img3" class="imgslider3">

                        </div>
                    
                        <div class="labelslider">
                            <label for="img1" class="bar"></label>
                            <label for="img2" class="bar"></label>
                            <label for="img3" class="bar"></label>                        
                        </div>
                    </div>
                </div>
            
                <!--Ad2-->
                <div class="col c-3 mt-16">
                    <div class="right-banner">
                        <a href="#" class="right-banner__item">
                        <img src="./assets/imgs/RB_galaxy-A73.jpg" alt="">
                        </a>
                        <a href="#" class="right-banner__item">
                        <img src="./assets/imgs/637910161071589446_H1_800x300.webp" alt="">
                        </a>
                        <a href="#" class="right-banner__item">
                        <img src="./assets/imgs/637904570189565718_F-H1_800x300.webp" alt="">
                        </a>
                    </div>
                </div> 

                <!--Up sale product-->
                <div class="col c-12 mt16">
                    <div class="product"></div>
                        <div class="product_title">
                            <a href="#" class="c-5 box-title_title">
                                <h2>Điện thoại nổi bật nhất</h2>
                            </a>
                            <div class="c-5 box-related-tag">
                                <div class="list-related-tag">
                                    <a href="">Apple</a>
                                    <a href="">Samsung</a>
                                    <a href="">Tất cả</a>
                                </div>
                            </div>

                        </div>

                        <div class="product_list">
                            <div class="list-product">
                                
                                <div id="01" class="product_info-container c-2">
                                    <div class="product_info">
                                    <a href="#" class="product_link">
                                    <div class="item-product_image">
                                        <a href="#">
                                            <img src="https://fdn2.gsmarena.com/vv/pics/apple/apple-iphone-13-pro-max-01.jpg">
                                        </a>
                                    </div>
                                    <div class="item-product_name"></div>
                                        <a href="#">
                                            <p>iPhone 13 Promax</p>
                                        </a>
                                    <div class="item-product_price">
                                        <p>20.290.000</p>
                                    </div>
                                    <div class="item-product_rating">
                                        <!-- <p>Đánh giá</p> -->
                                    </div>
                                    </a>
                                    </div>
                                </div>

                                <div id="01" class="product_info-container c-2">
                                    <div class="product_info">
                                    <a href="#" class="product_link">
                                    <div class="item-product_image">
                                        <a href="#">
                                            <img src="https://fdn2.gsmarena.com/vv/bigpic/samsung-galaxy-z-fold3-5g.jpg">
                                        </a>
                                    </div>
                                    <div class="item-product_name"></div>
                                        <a href="#">
                                            <p>Galaxy Z Fold 3</p>
                                        </a>
                                    <div class="item-product_price">
                                        <p>32.990.000</p>
                                    </div>
                                    <div class="item-product_rating">
                                        <!-- <p>Đánh giá</p> -->
                                    </div>
                                    </a>
                                    </div>
                                </div>

                                <div id="01" class="product_info-container c-2">
                                    <div class="product_info">
                                    <a href="#" class="product_link">
                                    <div class="item-product_image">
                                        <a href="#">
                                            <img src="https://fdn2.gsmarena.com/vv/bigpic/samsung-galaxy-a73-5g.jpg">
                                        </a>
                                    </div>
                                    <div class="item-product_name"></div>
                                        <a href="#">
                                            <p>Galaxy A73</p>
                                        </a>
                                    <div class="item-product_price">
                                        <p>12.990.000</p>
                                    </div>
                                    <div class="item-product_rating">
                                        <!-- <p>Đánh giá</p> -->
                                    </div>
                                    </a>
                                    </div>
                                </div>

                                <div id="01" class="product_info-container c-2">
                                    <div class="product_info">
                                    <a href="#" class="product_link">
                                    <div class="item-product_image">
                                        <a href="#">
                                            <img src="https://fdn2.gsmarena.com/vv/bigpic/samsung-galaxy-s22-ultra-5g.jpg">
                                        </a>
                                    </div>
                                    <div class="item-product_name"></div>
                                        <a href="#">
                                            <p>Galaxy S22 Ultra</p>
                                        </a>
                                    <div class="item-product_price">
                                        <p>30.990.000</p>
                                    </div>
                                    <div class="item-product_rating">
                                        <!-- <p>Đánh giá</p> -->
                                    </div>
                                    </a>
                                    </div>
                                </div>

                                <div id="01" class="product_info-container c-2">
                                    <div class="product_info">
                                    <a href="#" class="product_link">
                                    <div class="item-product_image">
                                        <a href="#">
                                            <img src="https://fdn2.gsmarena.com/vv/bigpic/xiaomi-12.jpg">
                                        </a>
                                    </div>
                                    <div class="item-product_name"></div>
                                        <a href="#">
                                            <p>Xiaomi 12</p>
                                        </a>
                                    <div class="item-product_price">
                                        <p>14.990.000</p>
                                    </div>
                                    <div class="item-product_rating">
                                        <!-- <p>Đánh giá</p> -->
                                    </div>
                                    </a>
                                    </div>
                                </div>
                                          

                            </div>

                        </div>

                </div>

                <div class="col c-12 mt16">
                    <div class="product"></div>
                        <div class="product_title">
                            <a href="#" class="c-5 box-title_title">
                                <h2>Máy tính bảng</h2>
                            </a>
                            <div class="c-5 box-related-tag">
                                <div class="list-related-tag">
                                    <a href="">Apple</a>
                                    <a href="">Samsung</a>
                                    <a href="">Tất cả</a>
                                </div>
                            </div>

                        </div>

                        <div class="product_list">
                            <div class="list-product">
                                
                                <div id="01" class="product_info-container c-2">
                                    <div class="product_info">
                                    <a href="#" class="product_link">
                                    <div class="item-product_image">
                                        <a href="#">
                                            <img src="https://fdn2.gsmarena.com/vv/bigpic/apple-ipad-pro-129-2021.jpg">
                                        </a>
                                    </div>
                                    <div class="item-product_name"></div>
                                        <a href="#">
                                            <p>iPad Pro 12.9</p>
                                        </a>
                                    <div class="item-product_price">
                                        <p>17.790.000</p>
                                    </div>
                                    <div class="item-product_rating">
                                        <!-- <p>Đánh giá</p> -->
                                    </div>
                                    </a>
                                    </div>
                                </div>

                                <div id="01" class="product_info-container c-2">
                                    <div class="product_info">
                                    <a href="#" class="product_link">
                                    <div class="item-product_image">
                                        <a href="#">
                                            <img src="https://fdn2.gsmarena.com/vv/bigpic/apple-ipad-air-2022-new.jpg">
                                        </a>
                                    </div>
                                    <div class="item-product_name"></div>
                                        <a href="#">
                                            <p>iPad Air 2022</p>
                                        </a>
                                    <div class="item-product_price">
                                        <p>16.690.000</p>
                                    </div>
                                    <div class="item-product_rating">
                                        <!-- <p>Đánh giá</p> -->
                                    </div>
                                    </a>
                                    </div>
                                </div>

                                <div id="01" class="product_info-container c-2">
                                    <div class="product_info">
                                    <a href="#" class="product_link">
                                    <div class="item-product_image">
                                        <a href="#">
                                            <img src="https://fdn2.gsmarena.com/vv/bigpic/xiaomi-pad-5.jpg">
                                        </a>
                                    </div>
                                    <div class="item-product_name"></div>
                                        <a href="#">
                                            <p>MiPad 5</p>
                                        </a>
                                    <div class="item-product_price">
                                        <p>8.990.000</p>
                                    </div>
                                    <div class="item-product_rating">
                                        <!-- <p>Đánh giá</p> -->
                                    </div>
                                    </a>
                                    </div>
                                </div>

                                <div id="01" class="product_info-container c-2">
                                    <div class="product_info">
                                    <a href="#" class="product_link">
                                    <div class="item-product_image">
                                        <a href="#">
                                            <img src="https://fdn2.gsmarena.com/vv/bigpic/samsung-galaxy-tab-s8.jpg">
                                        </a>
                                    </div>
                                    <div class="item-product_name"></div>
                                        <a href="#">
                                            <p>Galaxy Tab S8</p>
                                        </a>
                                    <div class="item-product_price">
                                        <p>20.990.000</p>
                                    </div>
                                    <div class="item-product_rating">
                                        <!-- <p>Đánh giá</p> -->
                                    </div>
                                    </a>
                                    </div>
                                </div>

                                <div id="01" class="product_info-container c-2">
                                    <div class="product_info">
                                    <a href="#" class="product_link">
                                    <div class="item-product_image">
                                        <a href="#">
                                            <img src="https://fdn2.gsmarena.com/vv/bigpic/samsung-galaxy-tab-s8-ultra.jpg">
                                        </a>
                                    </div>
                                    <div class="item-product_name"></div>
                                        <a href="#">
                                            <p>Galaxy Tab S8 Ultra</p>
                                        </a>
                                    <div class="item-product_price">
                                        <p>30.990.000</p>
                                    </div>
                                    <div class="item-product_rating">
                                        <!-- <p>Đánh giá</p> -->
                                    </div>
                                    </a>
                                    </div>
                                </div>
                                          

                            </div>

                        </div>

                </div>
                
                <div class="col c-12 mt16">
                    <div class="footer">
                        <div class="footer-container">
                            <div class="footer-box c-4">
                                <ul class="box-info">
                                    <li>Gọi mua hàng 1800.2097 (8h00 - 22h00)</li>
                                    <li>Gọi bảo hành 1800.2064 (8h00 - 22h00)</li>
                                    <li>Gọi khiếu nại 1800.2063 (8h00 - 22h00)</li>
                                </ul>

                            </div>

                            <div class="footer-box c-4">
                                <ul class="box-info">
                                    <li>Mua hàng và thanh toán Online</li>
                                    <li>Mua hàng trả góp Online</li>
                                    <li>Tra thông tin đơn hàng</li>
                                    <li>Tra điểm tích</li>
                                    <li>Tra thông tin bảo hành</li>
                                    <li>Tra cứu hóa đơn điện tử</li>
                                    <li>Trung tâm bảo hành chính hãng</li>
                                    <li>Quy định về việc sao lưu dữ liệu</li>
                                    <li>Dịch vụ bảo hành điện thoại</li>
                                </ul>

                            </div>

                            <div class="footer-box c-4">
                                <ul class="box-info">
                                    <li>Quy chế hoạt động</li>
                                    <li>Chính sách bảo hành</li>
                                    <li>Liên hệ hợp tác kinh doanh</li>
                                    <li>Khách hàng doanh nghiệp</li>
                                    <li>Ưu đãi thanh toán</li>
                                    <li>Tuyển dụng</li>
                                </ul>

                            </div>
                        </div>




                    </div>
                </div>


            </div>

        </div>
 </div>






   @code {
       List<Smartphone> smartphone = new List<Smartphone>();
       
       protected override async Task OnInitializedAsync()
       {
           
         GetSmartphone();
    }

    private void GetSmartphone()
    {
        smartphone = ProductIService.GetSmartphones();
    }

       

   }
