.history {
    background-image: url("../assets/imgs/Rectangle(2).ef29e10.png");
    background-size: cover;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 4px #ccc;
    border-radius: 12px;
    margin-bottom: 12px;
    font-size: 1rem;
}

.history__manage_title {
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    color: #ff1c1c;
    margin-bottom: 1rem;
}

.history__search {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}

    .history__search button {
        padding: 4px;
        margin-left: 8px;
        border: none;
        cursor: pointer;
        color: #b11e1e;
    }

        .history__search button:hover {
            background-color: #db4052;
        }

.box__search {
    border-radius: 25px;
    background-color: #fff;
}

.search__img {
    margin: 0 12px;
    height: 16px;
    width: 16px;
    cursor: pointer;
    opacity: 0.6;
}

.box__search input {
    outline: none;
    border: none;
    padding-top: 6px;
}

.history__order_header {
    display: flex;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    border: 1px solid #7e7e7e;
    background-color: #fff;
    justify-content: space-around;
    text-align: center;
    color: #212529;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}
