@page "/Payment"

@using DoAn1.Data

@layout MainLayout0

@inject IJSRuntime JsRuntime

<div class="payment-page"> 
<!-- Payment header -->
	<div class="payment-header">
		<div class="payment-header__subline"></div>
        <div class="payment-header__goback">
			<a href="">Quay lại</a>
        </div>
		<div class="payment-header__title">
			<h1>Thông tin đơn hàng</h1>
        </div>
    </div>
<!-- Payment -->
	<div class="payment" >
		<div class="row">
		<!-- Payment--info -->
			<div class="col c-7 paymentInfo">
				<div class="paymentInfo-shipinfo">
               		<h3>THÔNG TIN GIAO HÀNG</h3>
               		<input type="text" placeholder="Họ và tên" />
               		<div class="row" style="display: flex; justify-content: space-between; width: 90%; padding: 0px 5px;">
                  		<input type="text" placeholder="Email" name="email" />
                  		<input type="text" placeholder="Số điện thoại" name="sdt" />
               		</div>
               		
					@*Chọn địa chỉ giao hàng*@

					<div class="shipping-address">
						<div class="shipping-title">
							<h3>Địa chỉ giao hàng</h3>
						</div>
						<form class="address-details">
							@*chỗ này để foreach load địa chỉ*@
							<div class="address-list paymentInfo-method-box">
								<input type="radio" id="html" name="fav_language" value="Hà Đông, Hà Nội" style="width:auto">
 								<label for="html">Hà Đông, Hà Nội</label><br>
							</div>

							<div class="address-add paymentInfo-method-box">
								<button id="addaddress" @onclick="PopUp" style="border: none; background-color: rgb(204,204,204);" >
									<svg id="plusicon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
										<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
										<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
									</svg>
								</button>
								<label for="plusicon">Giao hàng đến địa chỉ khác</label>								
							</div>

						</form>
					</div>
					   
					@*<input type="text" placeholder="Địa chỉ" />			   		
					<div class="row" style="display: flex; justify-content: flex-start; width: 90%;" >
                        <select name="address">
                            <option value="">Chọn tỉnh/thành</option>
                            <option value="">Hà Nội</option>
                            <option value="">Thành phố Hồ Chí Minh</option>
                            <option value="">Đà Nẵng</option>
                        </select>
			   			<select name="address">
							<option value="">Chọn quận/huyện</option>
							<option value="">Quận Hai Bà Trưng</option>
							<option value="">Quận 1</option>
							<option value="">Quận Hà Đông</option>
				 		</select>
					</div>*@

            	</div>
				<div class="paymentInfo-method">
					<h3>PHƯƠNG THỨC VẬN CHUYỂN</h3>
					<div class="paymentInfo-method-box">
						<input type="radio" id="ship1" name="shipmethod" value="Giao hàng tận nơi">
  						<label for="ship1">Giao hàng tận nơi</label><br>
					</div>
					<div class="paymentInfo-method-box">
						<input type="radio" id="ship2" name="shipmethod" value="Lấy tại cửa hàng">
  						<label for="ship2">Lấy tại cửa hàng</label><br>	
					</div>
				</div>
				<div class="paymentInfo-method">
					<h3>PHƯƠNG THỨC THANH TOÁN</h3>
					<div class="paymentInfo-method-box">
						<input type="radio" id="cod" name="shipmethod" value="Thanh toán khi nhận hàng">
  						<label for="cod">Thanh toán khi nhận hàng</label><br>
					</div>
					<div class="paymentInfo-method-box">
						<input type="radio" id="online" name="shipmethod" value="Thanh toán online">
  						<label for="online">Thanh toán online</label><br>								
					</div>
				</div>
				<div class="buy--button">
					<a class="btn btn-danger" style="border-radius: 15px; margin-top: 1em;">
							HOÀN TẤT ĐƠN HÀNG						
					</a>
				</div>
			</div>
		<!-- Payment--product -->
            <div class="col c-5 paymentProduct">					
               	<h3>THÔNG TIN SẢN PHẨM</h3>
				<div class="paymentProduct-info">
					<div class="paymentProduct-info-img"
						style="background-image:url(./assets/imgs/iphone13promax/apple-iphone-13-pro-max-01.jpg) ;"
					>	
						<span>1</span>											
					</div>
					<div class="paymentProduct-info-content">
						<p>Iphone 13 Promax</p>
					</div>			
					<div class="paymentProduct-info-price">						
						<p>99.999.999đ</p>
					</div>
				</div>

				<div class="paymentProduct-info">
					<div class="paymentProduct-info-img"
						style="background-image:url(./assets/imgs/iphone13promax/apple-iphone-13-pro-max-01.jpg) ;"
					>	
						<span>1</span>											
					</div>
					<div class="paymentProduct-info-content">
						<p>Iphone 13 Promax</p>
					</div>			
					<div class="paymentProduct-info-price">						
						<p>99.999.999đ</p>
					</div>
				</div>

				<div class="paymentProduct-info">
					<div class="paymentProduct-info-img"
						style="background-image:url(./assets/imgs/iphone13promax/apple-iphone-13-pro-max-01.jpg) ;"
					>	
						<span>1</span>											
					</div>
					<div class="paymentProduct-info-content">
						<p>Iphone 13 Promax</p>
					</div>			
					<div class="paymentProduct-info-price">						
						<p>99.999.999đ</p>
					</div>
				</div>

				<div class="paymentProduct-price">
					<div class="paymentProduct-price-box">
						<div class="paymentProduct-price-content">
							<p>Tạm tính</p>
						</div>
						<div class="paymentProduct-price-pay">
							<span>99.999.000đ </span>
						</div>
					</div>

					<div class="paymentProduct-price-box">
						<div class="paymentProduct-price-content">
							<p>Phí vận chuyển</p>
						</div>
						<div class="paymentProduct-price-pay">
							<span>Miễn phí</span>
						</div>
					</div>

					<div class="paymentProduct-totalprice-box">
						<div class="paymentProduct-totalprice-content">
							<p>Tổng cộng</p>
						</div>
						<div class="paymentProduct-totalprice-price">
							<span>99.999.000đ</span>
						</div>
					</div>
				</div>
            </div>	
			
		</div>
	</div>
</div>
<!--add address section-->
	<div class="bg-addform" style="@AddPopUp">
		<div class="addform-content">
			<div class="addform-section">
				<label>Tính/Thành phố</label>
				<div class="input-item">
					<select name="calc_shipping_provinces" required="">
					<option value="">Tỉnh / Thành phố</option>
					</select>
				</div>
			</div>
			<div class="addform-section">
				<label>Quận/Huyện</label>
				<div class="input-item">
					<select name="calc_shipping_provinces" required="">
					<option value="">Quận/Huyện</option>
					</select>
				</div>
			</div>
			<div class="addform-section">
				<label>Phường/Xã</label>
				<div class="input-item">
					<select name="calc_shipping_provinces" required="">
					<option value="">Phường/Xã</option>
					</select>
				</div>
			</div>
			<div class="addform-section">
				<label>Địa chỉ nhận hàng</label>
				<div class="input-item">
					<input type="text" placeholder="Địa chỉ nhận hàng" value="" />
				</div>
			</div>
			<input class="billing_address_1" name="" type="hidden" value="">
			<input class="billing_address_2" name="" type="hidden" value="">
			<input class="billing_address_3" name="" type="hidden" value="">
			<input class="billing_address_4" name="" type="hidden" value="">
			<div id="savecancel">
				<BSButton Color="BSColor.Danger" style="margin-top: 15px">Lưu địa chỉ</BSButton>
				<BSButton Color="BSColor.Danger" style="margin-top: 15px">Hủy</BSButton>
			</div>
		</div>
	</div>
@code {
	string AddPopUp;

	async Task MyMethod()
	{
		AddPopUp = "display: flex";
	}

	async Task PopUp()
	{
		await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/Payment.js");
	}

}
