@page "/catalogsearch/result/"

@layout MainLayout0

 <div id="search-content">

<!-- subHeader -->
        <div id="sub-header">
            <div class="grid wide">
                <div class="row subheader__list">
                    <a href=""><img src="./assets/imgs/svg/home-red.svg" alt="" />Trang chủ</a>
                    <span>Kết quả tìm kiếm cho 'iphone'</span>
                </div>
            </div>
        </div>
<!--Block result-->
            <div class="grid wide">
                <div class="row">
                    <div class="block-result c-12 mt-16">
              
                        <div class="block-result__header">
                            <h1>
                                "Tìm thấy "
                                <strong>12</strong>
                                " sản phẩm cho từ khóa"
                                <strong>'iphone'</strong>
                            </h1>
                        </div>
                
                        <div class="block-result__content">
                            <div class="nav-tabs">
                                <div class="list-nav-tabs">         
                                    <BSButton Color="BSColor.Light">Tất cả</BSButton>
                                    <BSButton Color="BSColor.Light">Điện thoại</BSButton>
                                    <BSButton Color="BSColor.Light">Máy tính bảng</BSButton>
                                </div>

                            <div class="block-filter">
                                <div class="filter__block-list-sort">
                                    <div class="box-title">
                                        <p class="box-title__title">Sắp xếp theo</p>
                                    </div>
                            
                                    <div class="box-list-filter">
                                        <div class="list-filter">
                                            <BSButton Color="BSColor.Light">Liên quan</BSButton>
                                            <BSButton Color="BSColor.Light">Giá cao</BSButton>
                                            <BSButton Color="BSColor.Light">Giá thấp</BSButton>                              
                                        </div>
                                    </div>                            
                                </div>
                            </div>

                            <div class="block-product">
                                <div class="product_info-container c-2">
                                    <div class="product_info">
                                        <a href="#" class="product_link">
                                            <div class="item-product_image">
                                                <a href="#">
                                                    <img src="https://fdn2.gsmarena.com/vv/pics/apple/apple-iphone-13-pro-max-01.jpg">
                                                </a>
                                            </div>
                                            <div class="item-product_name"></div>
                                                <a href="#">
                                                    <p>iPhone 13 Promax</p>
                                                </a>
                                            <div class="item-product_price">
                                                <p>20.290.000</p>
                                            </div>                                    
                                        </a>
                                    </div>
                                </div>

                            </div>

                            </div>

                        </div>
            
            
                    </div>
                </div>

            </div>
            
              

  </div>





@code {

}
