@page "/Success"
@layout MainLayout0

<div class="success">
    <div class="successful-image">
        <img src="./assets/imgs/svg/truck-fast-solid.svg" alt="">
    </div>
    <div class="successful-payment">
        <p>Cảm ơn bạn đã mua hàng!</p>
        <p>Hãy luôn ủng hộ chúng tôi nhé!</p>
        <div class="mainpage-button">
            <BSButton Color="BSColor.Danger">
                <a href="">
                    <h3>Quay về trang chủ</h3>
                </a>
            </BSButton>
        </div>     
    </div>  
</div>
@code {

}
