@page "/Cart"
@using DoAn1.Models
@using DoAn1.Data
@inject List<Cart> _Cart

@layout MainLayout0
@inject ProtectedLocalStorage ProtectedLocalStorage


<div>
<p>
    @foreach(var item in listcart)
    {
        <a>
            @item._Smartphone.key
            @item.quantity
            @item.price
            
        </a>
    }
</p>
</div>
@code {


    public List<Cart> listcart { get; set; }


    protected override async Task OnInitializedAsync()
    {
        setCart();
        var result = await ProtectedLocalStorage.GetAsync<List<Cart>>("cart");
        listcart = result.Success ? result.Value : null;
    }

    private async Task setCart()
    {
        listcart = _Cart;
        await ProtectedLocalStorage.SetAsync("cart", _Cart);
    }

}
