@page "/testCart"
@using DoAn1.Data
@using DoAn1.Models
@using DoAn1.Service
@using System.Security.Claims
@inject CartService CartIService
@inject IJSRuntime JSRuntime
@inject AuthenticationStateProvider AuthenticationStateProvider

@layout MainLayout0

<div class="cart-page">
    <!-- Cart header -->
    <div class="cart-header">
        <div class="cart-header__subline"></div>
        <div class="cart-header__goback">
            <a href="">Quay lại</a>
        </div>
        <div class="cart-header__title">
            <h1>Giỏ hàng</h1>
        </div>
    </div>

    <!-- Cart items  -->
    <table>
        <tr>
            <th>Product</th>
            <th class="cart-page-quantity">Quantity</th>
            <th class="text-center">Subtotal</th>
        </tr>
        @foreach(var item in CartItems){
        <tr>
            <td class="col c-8 section">
                <div class="cart-info">
                    <div class="cart-info_img">
                        <div
                            class="cart-info_img---image"
                            style="background-image: url();">
                            <!-- <img src="./assets/imgs/iphone13promax/apple-iphone-13-pro-max-01.jpg" alt=""> -->
                        </div>
                    </div>
                    <div>
                        <h3>@item.device_key</h3>
                        <small>1đ</small>
                        <a href="Remove"></a>
                    </div>
                </div>
            </td>
            <td>
                <input type="number" value="1" />
            </td>
            <td class="text-center">1đ</td>
        </tr>
        }
    </table>
    
    <div class="payment-details">
        <div class="total-price">
            <h4>Tổng tiền tạm tính:</h4>
            <div class="total">
                <span>@totalprice &nbsp;đ </span>
            </div>
        </div>
        <!--Buy Button-->
        <div class="buy-button">
            <BSButton Color="BSColor.Danger">
                @*<a href="">*@
                    <h3>TIẾN HÀNH ĐẶT HÀNG</h3>
                @*</a>*@
            </BSButton>
        </div>

        @*<div class="buy-button">
            @<BSButton Color="BSColor.Danger" IsOutlined="true">*@
                <a href="">
                    <h3>CHỌN THÊM SẢN PHẨM KHÁC</h3>
                </a>
            @*</BSButton>*@
        @*</div>*@
    </div>
</div>



@code {
    [Parameter]
    public string Customerid { get; set; }

    public List<Models.Cart> CartItems { get; set; }

    [Parameter]
    public int totalprice { get; set; }

    protected override async Task OnInitializedAsync()
    {
        GetCart();
        await GetClaims();
    }

    public void GetCart()
    {
        _ = GetClaims();
        CartItems = CartIService.GetCart(Customerid);
    }

    public int GetTotalPrice()
    {
        foreach(var item in CartItems)
        {
            totalprice++;
        }
        return totalprice;
    }

    public async Task GetClaims()
    {
		var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
	    var userClaims = authState.User.Claims;
	    foreach (var claim in userClaims)
	    {
	        if (claim.Type == ClaimTypes.NameIdentifier)
	        {
		        Customerid= claim.Value;
	        }
	    }
	}
}
