@page "/Cart"
@using DoAn1.Models
@using DoAn1.Data
@inject List<Cart> _Cart
@layout MainLayout0

<div>
<p>
    @foreach(var item in listcart)
    {
        <a>
            @item._Smartphone.key
            @item.quantity
            @item.totalprice
            
        </a>
    }
</p>
</div>
@code {


    public List<Cart> listcart { get; set; }


    protected override void OnInitialized()
    {
        listcart = _Cart;
    }

}
