@inherits LayoutComponentBase
@using DoAn1.Pages
@using DoAn1.Data
@inject DoAn1.Service.CustomerService CustomerIService
@layout MainLayout0


<div id="content">
        <div class="grid wide">
            <div class="row">

                <div class="col c-2 mt-16">
                    <div class="sideNav">
                        <div class="sideNav__item">
                            <img src="./assets/imgs/svg/home.svg" alt="">
                            <a class = "nav-link"  href="/Account/Main">
                            <span aria-hidden = "true"></span> Trang chủ
                            
                            </a>
                        </div>
                        <div class="sideNav__item">
                            <img src="./assets/imgs/svg/clock.svg" alt="">
                            <a class="nav-link" href="/Account/Order">
                            <span aria-hidden="true"></span>Lịch sử mua hàng</a>
                        </div>
                        <div class="sideNav__item">
                            <img src="./assets/imgs/svg/location-pin.png" alt="">
                            
                            <a class = "nav-link" href ="/Account/Address" >
                            <span aria-hidden = "true"></span> Địa chỉ
                            
                            </a>
                            
                        </div>                        
                        <div class="sideNav__item">
                            <img src="./assets/imgs/svg/user_solid.svg" alt="">
                            <a class = "nav-link" href ="/Account/Edit" >

                             <span aria-hidden = "true"></span>Tài khoản của bạn</a>
                        </div>
                        <div class="sideNav__item">
                            <img src="./assets/imgs/svg/edit.svg" alt="">
                            <a class = "nav-link" href ="/Account/Report" >

                             <span aria-hidden = "true"></span>
                            Góp ý - Phản hồi</a>
                        </div>
                        <div class="sideNav__item">
                            <img src="./assets/imgs/svg/log-out.svg" alt="">
                            <form method="post" action="Account/LogOut">
				                <button type="submit" class="nav-link btn btn-link">Thoát tài khoản</button>
			                </form>
                           @* <a href="Account/Logout">Thoát tài khoản</a>*@
                        </div>
                    </div>
                </div>
                @Body
                </div>
    </div>
    </div>

   

@code {
    






   
}
